<!--Content for User-Agents of Web Crawlers from Social Medias and Search Engines-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <meta name="twitter:card" content="app" />
        <meta name="twitter:title" content="Hotel Yes | Live the best!" />
        <meta name="twitter:text:title" content="Hotel Yes | Live the best!" />
        <meta name="twitter:description" content="You can have the best experience while traveling" />
        <meta property="twitter:image" content="assets/images/bedroom-1.jpg"/>
        <meta name="description" content="You can have the best experience while traveling" />
        <meta property="og:title" content="Hotel Yes | Live the best!" />
        <meta property="og:image" content="assets/images/bedroom-1.jpg" />
        <title>Live the best experience while traveling | Hotel Yes!</title>
    </head>
    <body>
    </body>
</html>