<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <meta name="twitter:card" content="app" />
        <meta name="twitter:title" content="Hotel Yes | Live the best!" />
        <meta name="twitter:text:title" content="Hotel Yes | Live the best!" />
        <meta name="twitter:description" content="You can have the best experience while traveling" />
        <meta property="twitter:image" content="assets/images/bedroom-1.jpg"/>
        <meta name="description" content="You can have the best experience while traveling" />
        <meta property="og:title" content="Hotel Yes | Live the best!" />
        <meta property="og:image" content="assets/images/bedroom-1.jpg" />
        <title>Live the best experience while traveling | Hotel Yes!</title>
    </head>
    <body>
        <header>
            <h2><a href="#">Hotel Yes!</a></h2>
            <nav>
                <li><a href="#advantages">Advantages</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </nav>
        </header>

        <section class="hero">
            <div class="background-image"></div>
            <div class="hero-content-area">
                <h1>Hotel Yes!</h1>
                <h3>Live the best experience while traveling</h3>
                <a href="#contact" class="btn">Contact Us Now</a>
            </div>
        </section>

        <section class="know-by-pictures">
            <h3 class="title">Pictures</h3>
            <p>The best place to stay with your family and friends</p>
            <hr>
            <ul class="grid">
                <li class="small" style="background-image: url(assets/images/bedroom-1.jpg);"></li>
                <li class="large" style="background-image: url(assets/images/bedroom-2.jpg);"></li>
                <li class="large" style="background-image: url(assets/images/bedroom-3.jpg);"></li>
                <li class="small" style="background-image: url(assets/images/bedroom-4.jpg);"></li>
            </ul>
        </section>

        <section class="advantages" id="advantages">
            <h3 class="title">Advantages</h3>
            <p>All advantages are included for all packages</p>
            <hr>
            <ul class="grid">
                <li>
                    <i class="fa fa-wifi fa-4x"></i>
                    <h4>Wifi</h4>
                    <p>All our clients can use our super speed wifi</p>
                </li>
                <li>
                    <i class="fa fa-car fa-4x"></i>
                    <h4>Parking</h4>
                    <p>You can use our parking service for free</p>
                </li>
                <li>
                    <i class="fa fa-coffee fa-4x"></i>
                    <h4>Breakfast included</h4>
                    <p>The super breakfast of Hotel Yes is included for all packages</p>
                </li>
            </ul>
        </section>

        <section class="about" id="about">
                <h3 class="title">About</h3>
                <p>What people say about us</p>
                <hr>
                <blockquote cite="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit.</p>
                    <footer>—Some consumer</cite></footer>
                </blockquote>
                <blockquote cite="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit.</p>
                    <footer>—Some consumer</cite></footer>
                </blockquote>
                <blockquote cite="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit.</p>
                    <footer>—Some consumer</cite></footer>
                </blockquote>
        </section>

        <section class="contact" id="contact">
                <h3 class="title">Contact</h3>
                <p>Register your email and we will message you</p>
                <hr>
                <form itemscope itemtype="https://schema.org/Person">
                <input type="email" placeholder="Email" itemprop="email" required>
                <button class="btn">Subscribe now</button>
                </form>
        </section>
        
        <footer>
                <p>Images courtesy of <a href="http://flickr.com/">Flickr</a>.</p>
                <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
                <ul>
                  <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                  <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
                </ul>
        </footer>
    </body>
</html>